@import 'variables';

:host {
  display: block;
  width: calc(100% / 4 - 24px);
  position: relative;
  margin: 0 12px;
  margin-bottom: 30px;
  @include media(mdx) {
    width: calc(100% / 2 - 24px);
  }
  @include media(sm) {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
  }
}


.plan {
  &__image {
    max-width: 64px;
    margin: 0 auto;
    i {
      display: block;
      font-size: 64px;
      opacity: 0.75;
      color: var(--clr-main);
    }
  }
  &__title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__count {
    position: relative;
    width: max-content;
    font-size: 64px;
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
  }
  &__symbol {
    position: absolute;
    font-size: 24px;
    color: var(--clr-main);
    font-weight: 500;
    top: 1rem;
    left: -1rem;
    line-height: 0;
    vertical-align: baseline;
    display: inline-block;
  }
  &__project {
    position: relative;
    font-size: 17px;
    font-style: italic;
    opacity: 0.75;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 25px;
    &:after {
      content: "";
      position: absolute;
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 136px;
      height: 3px;
      background-color: var(--clr-main);
    }
  }
  &__block {
    overflow: hidden;
    position: relative;
    border: 1px solid rgba(var(--clr-main-rgb), 0.35);
    border-radius: 0.5rem 0.5rem 0 0;
    padding: 2rem 1rem;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 1px 1px 10px 0px rgba(var(--clr-dark-blue-rgb), 0.15);
    &.most {
      background-color: var(--clr-main);
      .plan__image {
        i {
          color: var(--clr-white);
        }
      }
      .plan__symbol {
        color: var(--clr-white);
      }
      .plan__text p {
        color: var(--clr-white);
      }
      .plan__project {
        color: var(--clr-white);
        &:after {
          background-color: var(--clr-white);
        }
      }
      .plan__count, .plan__title {
        color: var(--clr-white);
      }
      .plan__btn {
        color: var(--clr-white);
        border-color: var(--clr-white);
        &:hover {
          color: var(--clr-main);
          background-color: var(--clr-white);
        }
      }
    }
  }
  &__most {
    display: inline-block;
    padding: 0.25rem 5rem;
    color: var(--clr-main);
    background-color: var(--clr-white);
    top: 3rem;
    right: -4rem;
    left: auto;
    position: absolute;
    font-weight: 800;
    font-size: 0.85rem;
    transform: rotate(45deg);
  }
  &__text {
    p {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 40px;
    }
  }
  &__btn {
    width: 100%;
    position: relative;
    overflow: hidden;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 0.25rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
    padding: 0.75rem 2.25rem;
    font-size: 1.1rem;
    font-weight: 500;
    box-shadow: 0px 3px 10px -5px rgba(var(--clr-dark-blue-rgb), 0.15);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    border: 2px solid;
    color: var(--clr-main);
    border-color: var(--clr-main);
    background-color: transparent;
    &:hover {
      color: var(--clr-white);
      background-color: var(--clr-main);
    }
  }
}
