@import 'variables';

.contact-info {
  &__wrap {
    display: flex;
    flex-wrap: wrap;
    padding-top: 48px;
  }
  &__item {
    width: calc(100% / 3 - 24px);
    padding: 2rem 1rem;
    border: 1px solid rgba(var(--clr-main-rgb), 0.35);
    border-top: 0.25rem solid rgba(var(--clr-main-rgb), 1);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin: 0 12px;
    margin-bottom: 1.5rem;
    @include media(mdx) {
      width: 100%;
      margin: 0;
    }
    &:not(:last-child) {
      @include media(mdx) {
        margin-bottom: 1.5rem;
      }
    }
  }
  &__title {
    position: relative;
    font-size: 1.5rem;
    padding-bottom: 8px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 30px;
    &:after {
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 64px;
      height: 2px;
      background: var(--clr-main);
      border-radius: 1rem;
    }
  }
  &__text {
    font-size: 1.25rem;
    margin-bottom: 2.25rem;
    text-transform: capitalize;
    opacity: 0.75;
  }
  &__block {
   display: flex;
    align-items: center;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    &:hover {
      .contact-info__image {
        color: var(--clr-white);
        background-color: rgba(var(--clr-main-rgb), 1);
      }
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    width: 48px;
    height: 48px;
    color: var(--clr-main);
    background-color: rgba(var(--clr-main-rgb), 0.15);
    border-radius: 0.25rem;
    margin-right: 1rem;
    transition: all 0.3s ease-in-out 0s;
  }
  &__content {
    width: calc(100% - 48px);
    padding-left: 16px;
  }
  &__subtitle {
    font-size: 1.25rem;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 0;
    color: rgba(var(--clr-main-rgb), 0.75);
  }
  &__data {
    display: block;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 1.1rem;
    opacity: 0.75;
    color: inherit;
    margin-bottom: 0.5rem;
    &:hover {
      opacity: 1;
    }
  }
}
