<div class="contact-info__wrap">
  <div class="contact-info__item">
    <p class="contact-info__title">New York</p>
    <p class="contact-info__text">United States, 307 Wilshire, 2nd Av. New York 3516.</p>
    <div class="contact-info__block">
      <div class="contact-info__image">
        <i class="flaticon-email"></i>
      </div>
      <div class="contact-info__content">
        <p class="contact-info__subtitle">Email:</p>
        <a href="mailto: info@example.com" class="contact-info__data">info@example.com</a>
      </div>
    </div>
    <div class="contact-info__block">
      <div class="contact-info__image">
        <i class="flaticon-email"></i>
      </div>
      <div class="contact-info__content">
        <p class="contact-info__subtitle">Phone:</p>
        <a href="tel: +29876543210" class="contact-info__data">+29876543210</a>
      </div>
    </div>
  </div>
  <div class="contact-info__item">
    <p class="contact-info__title">London</p>
    <p class="contact-info__text">United Kingdom, 12 Smith Town, 2nd Av. London 2159.</p>
    <div class="contact-info__block">
      <div class="contact-info__image">
        <i class="flaticon-email"></i>
      </div>
      <div class="contact-info__content">
        <p class="contact-info__subtitle">Email:</p>
        <a href="mailto: info@example.com" class="contact-info__data">info@example.com</a>
      </div>
    </div>
    <div class="contact-info__block">
      <div class="contact-info__image">
        <i class="flaticon-email"></i>
      </div>
      <div class="contact-info__content">
        <p class="contact-info__subtitle">Phone:</p>
        <a href="tel: 969876543210" class="contact-info__data">+969876543210</a>
      </div>
    </div>
  </div>
  <div class="contact-info__item">
    <p class="contact-info__title">London</p>
    <p class="contact-info__text">Japan, 307 Chinzo Appy Road, Portsika Way. Tokio 3516.</p>
    <div class="contact-info__block">
      <div class="contact-info__image">
        <i class="flaticon-email"></i>
      </div>
      <div class="contact-info__content">
        <p class="contact-info__subtitle">Email:</p>
        <a href="mailto: info@example.com" class="contact-info__data">info@example.com</a>
      </div>
    </div>
    <div class="contact-info__block">
      <div class="contact-info__image">
        <i class="flaticon-email"></i>
      </div>
      <div class="contact-info__content">
        <p class="contact-info__subtitle">Phone:</p>
        <a href="tel: 459876543210" class="contact-info__data">+459876543210</a>
      </div>
    </div>
  </div>
</div>
