
@font-face {
  font-family: "Jost";
  src: url('/assets/fonts/Jost-Regular.woff') format('woff'),
  url('/assets/fonts/Jost-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url('/assets/fonts/Jost-Medium.woff') format('woff'),
  url('/assets/fonts/Jost-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "Jost";
  src: url('/assets/fonts/Jost-SemiBold.woff') format('woff'),
  url('/assets/fonts/Jost-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url('/assets/fonts/Jost-Bold.woff') format('woff'),
  url('/assets/fonts/Jost-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
